body {
    background: url(../img/background-site.jpg);
    background-attachment: fixed;
    height: 1600px;
}

.main-container {
    margin: 0 auto;
    max-width: 770px;
    background: url(../img/background-container.jpg);
    right: 10px;
}

.main-container .container {
    padding: 15px 50px 0px 50px;
}

.list {
    position: fixed;
    top: 10px;
    right: 10px;
}

.list a {
    text-decoration: none;
}

.padding-indet {
    text-indent: 40px;
}

.padding-indet-1 {
    padding-left: 40px;
}

.title-h1 {
    text-align: center;
}

.title-h2 {
    text-align: center;
    color: slategrey;
}

.container .title-h3 {
    text-align: center;
}

.title-note {
    text-align: center;
    color: brown;
}

.image {
    text-align: center;
}

figcaption {
    text-align: center;
}

.first-paragraph {
    font-style: italic;
    font-size: 16px;
}